html,
body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: calc(100% - 82px);
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.navbar a.active {
  background-color: #00bcd4;
}

.raster {
  height: calc(100% - 78px) !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.container-hasil {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: greenyellow;
  margin-top: -5px;
  padding: 0;
}
